@import url(reset.css);
html, :root {
  font-size: 16px; }

body {
  max-width: 33em;
  margin: 1.5em auto;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  word-spacing: normal;
  hyphens: auto;
  orphans: 2;
  widows: 2;
  font-variant-numeric: oldstyle-nums; }
  body * {
    max-width: 100%; }

p {
  margin-top: 1.5em; }

p + p {
  margin-top: 0;
  text-indent: 1.5em; }

address, article, aside, audio, canvas, footer, header, hr, ol, ul, dl, pre, section, table, video {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

blockquote {
  margin: 2.25em; }
  blockquote p {
    margin: 0;
    text-indent: 0; }

h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
  margin-top: 0.66667em;
  margin-bottom: 0.66667em; }

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.3125em;
  line-height: 1.14286em;
  margin-top: 1.14286em;
  margin-bottom: 1.14286em; }

h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  margin-bottom: 1.33333em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  page-break-after: avoid; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

abbr, .caps, .nums {
  letter-spacing: 0.1em; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

dt {
  font-weight: bold;
  float: left;
  margin-right: 1.5em; }

li {
  list-style-position: inside;
  text-indent: 1.5em; }

.note {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-top: 1.71429em;
  margin-bottom: 1.71429em;
  text-indent: 0; }

.caps {
  font-variant-numeric: lining-nums; }

.verse {
  font-family: inherit;
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto; }

.toc {
  margin: 0 auto; }
  .toc th {
    padding: 0 0.5em 0 0;
    text-align: right;
    font-weight: normal; }
  .toc td:before {
    content: "\2022";
    padding-right: 0.5em; }
  .toc td {
    padding: 0;
    text-align: left;
    font-style: italic; }
