// The root font size, this will be used for any element if any more specific rule applies
$root-fs: 16px !default

// The leading height, that's the vertical rythm
$leading: 24px !default

// Transform from leading units to em
@function leading-units-to-em($leading-units, $relative-unit: $root-fs)
   @return ($leading-units*$leading)/$relative-unit * 1em

// Transform from px units to em
@function px-to-em($px, $relative-unit: $root-fs)
   @return $px/$relative-unit * 1em

// Adjust rhythm for an element, setting its font-size and leading-units to the supplied as arguments, and adding 1 leading unit after and before
// http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/
=adjust-rhythm($font-size, $leading-units)
   font-size: px-to-em($font-size)
   line-height: leading-units-to-em($leading-units, $font-size)
   margin-top: leading-units-to-em(1, $font-size)
   margin-bottom: leading-units-to-em(1, $font-size)
 
@import 'reset.css'

html, :root
   font-size: $root-fs // Set document root font size

body
   margin: 0
   padding: 0
   word-spacing: normal // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.1/ 
   text-align: left // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.3/ 
   font-size: 1em // 16px - Using inheritance, we set font size of any element to 16px. Any change in font size for other elements must be referred to this 16px 
   line-height: leading-units-to-em(1) // 24px - http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.1/ 

address, article, aside, audio, blockquote, canvas, footer, header, hr, ol, ul, dl, p, pre, section, table, video 
   margin-top: leading-units-to-em(1) // 16px - http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/ 
   margin-bottom: leading-units-to-em(1) // 16px - http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/ 

h1 
   +adjust-rhythm(36px, 2)

h2 
   +adjust-rhythm(24px, 1)

h3 
   +adjust-rhythm(21px, 1)

h4 
   +adjust-rhythm(18px, 1)

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/ 
abbr, .caps, .nums 
   letter-spacing: 0.1em

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.10/ 
.toc
   margin: 0 auto
   th 
      padding: 0 0.5em 0 0
      text-align: right
      font-weight: normal
   td:before 
      content: "\2022"
      padding-right: 0.5em
   td 
      padding: 0
      text-align: left
      font-style: italic
