@import url(reset.css);
html, :root {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  word-spacing: normal;
  text-align: left;
  font-size: 1em;
  line-height: 1.5em; }

address, article, aside, audio, blockquote, canvas, footer, header, hr, ol, ul, dl, p, pre, section, table, video {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
  margin-top: 0.66667em;
  margin-bottom: 0.66667em; }

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.3125em;
  line-height: 1.14286em;
  margin-top: 1.14286em;
  margin-bottom: 1.14286em; }

h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  margin-bottom: 1.33333em; }

abbr, .caps, .nums {
  letter-spacing: 0.1em; }

.toc {
  margin: 0 auto; }
  .toc th {
    padding: 0 0.5em 0 0;
    text-align: right;
    font-weight: normal; }
  .toc td:before {
    content: "\2022";
    padding-right: 0.5em; }
  .toc td {
    padding: 0;
    text-align: left;
    font-style: italic; }
