// The root font size, this will be used for any element if any more specific rule applies
$root-fs: 16px !default

// The leading height, that's the vertical rythm
$leading: 24px !default

// Transform from leading units (referred to $leading) to em
@function leading-units-to-em($leading-units, $relative-unit: $root-fs)
   @return ($leading-units*$leading)/$relative-unit * 1em

// Transform from px units to em
@function px-to-em($px, $relative-unit: $root-fs)
   @return $px/$relative-unit * 1em

// Adjust vertical rhythm for elements that $selector matches
// http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.1/
// http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/
// http://webtypography.net/Harmony_and_Counterpoint/Size/3.1.1/
//
// $selector CSS selector to apply the rules
// $font-size the font-size in pixels that will be converted to em. If it is set to null the rule won't be specified (inheriting from parents)
// $line-height the line-height in leading units referred to $leading. If it is set no null the rule won't be specified (inheriting from parents)
// $margin-top the margin-top in leading units referred to $leading
// $margin-bottom the margin-bottom in leading units referred to $leading
// $relative-font-size the relative font-size in pixels relative to which $font-size will be converted to em
=adjust-rhythm($selector, $font-size: $root-fs, $line-height: 1, $margin-top: 1, $margin-bottom: 1, $relative-font-size: $root-fs)
   #{$selector}
      @if $font-size
         font-size: px-to-em($font-size, $relative-font-size)
      @else
         $font-size: $root-fs
      @if $line-height
         line-height: leading-units-to-em($line-height, $font-size)
      margin-top: leading-units-to-em($margin-top, $font-size)
      margin-bottom: leading-units-to-em($margin-bottom, $font-size)
 
@import 'reset.css'

html, :root
   font-size: $root-fs // Set document root font size

// VERTICAL RHYTHM
+adjust-rhythm(body, 16px)
+adjust-rhythm(p, null, null, 1, 0)
+adjust-rhythm("p+p", null, null, 0, 0)
+adjust-rhythm("address, article, aside, audio, canvas, footer, header, hr, ol, ul, dl, pre, section, table, video", null, null, 1, 1)
+adjust-rhythm("blockquote", null, null, 1.5, 1.5)
+adjust-rhythm("blockquote p", null, null, 0, 0)
+adjust-rhythm(h1, 36px, 2)
+adjust-rhythm(h2, 24px)
+adjust-rhythm(h3, 21px)
+adjust-rhythm(h4, 18px)
+adjust-rhythm(".note", 14px)

body
   max-width: 33em // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.2/
   margin-left: auto
   margin-right: auto
   font-family: Helvetica, Arial, sans-serif
   text-align: left // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.3/ 
   word-spacing: normal // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.1/ 
   hyphens: auto // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.1/
   orphans: 2 // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/
   widows: 2 // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/
   font-variant-numeric: oldstyle-nums // http://webtypography.net/Harmony_and_Counterpoint/Numerals__Capitals_and_Small_Caps/3.2.1/
   *
      max-width: 100%

p+p
   text-indent: leading-units-to-em(1) // http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.2/

blockquote
   margin-left: leading-units-to-em(1.5)
   margin-right: leading-units-to-em(1.5)
   p
      text-indent: 0

h1, h2, h3, h4, h5, h6
   font-family: Georgia, serif
   font-weight: bold
   page-break-after: avoid // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/

em
   font-style: italic

strong
   font-weight: bold

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/ 
abbr, .caps, .nums 
   letter-spacing: 0.1em

ul li
   list-style-type: disc

ol li
   list-style-type: decimal

dt
   font-weight: bold
   float: left
   margin-right: leading-units-to-em(1)

li
   list-style-position: inside
   text-indent: leading-units-to-em(1)

.note
   text-indent: 0

.caps
   font-variant-numeric: lining-nums // http://webtypography.net/Harmony_and_Counterpoint/Numerals__Capitals_and_Small_Caps/3.2.1/

// http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.4/
.verse
   font-family: inherit
   display: table
   width: auto
   margin-left: auto
   margin-right: auto

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.10/ 
.toc
   margin: 0 auto
   th 
      padding: 0 0.5em 0 0
      text-align: right
      font-weight: normal
   td:before 
      content: "\2022"
      padding-right: 0.5em
   td 
      padding: 0
      text-align: left
      font-style: italic
