/* Gutenweb stylesheet - http://lamarciana.github.io/gutenweb/ */
/* VERSION: 0.0.1 */
/* Copyright 2013, Marc Busqué Pérez, under GNU LESSER GENERAL PUBLIC LICENSE*/

@import 'helper'

// The root font size, this will be used for any element if any more specific rule applies
$root-fs: 16px !default

// The leading height, that's the vertical rythm
$leading: 24px !default

// The leading height in print media, that's the vertical rythm
$leading-print: 18pt !default

@import 'reset.css'

html, :root
  font-size: $root-fs // Set document root font size

// VERTICAL RHYTHM
+adjust-rhythm(body, 16px)
+adjust-rhythm-print(body, 12pt, 1, 0, 0)
@media print
  @page
    margin-top: leading-units-to-pt(4)
    margin-bottom: leading-units-to-pt(4)

+adjust-rhythm(p, null, null, 1, 0)
+adjust-rhythm-print(p, null, null, 1, 0)

+adjust-rhythm("p+p", null, null, 0, 0)

+adjust-rhythm("address, article, aside, audio, canvas, footer, header, ol, ul, dl, pre, section, table, video", null, null, 1, 1)
+adjust-rhythm-print("address, article, aside, audio, canvas, footer, header, ol, ul, dl, pre, section, table, video", null, null, 1, 1)

hr
  border-bottom: px-to-em(1px) solid #000
  border-top: 0 none
  border-left: 0 none
  border-right: 0 none
  margin-top: px-to-em($leading - 1px)
  margin-bottom: leading-to-em(1)

@media print hr
  border-bottom: px-to-em(1pt) solid #000
  margin-top: $leading-print - 1
  margin-bottom: leading-to-pt(1)

+adjust-rhythm("blockquote", null, null, 1.5, 1.5)
+adjust-rhythm-print("blockquote", null, null, 1.5, 1.5)

+adjust-rhythm("blockquote p", null, null, 0, 0)
+adjust-rhythm-print("blockquote p", null, null, 0, 0)

+adjust-rhythm(h1, 36px, 2)
+adjust-rhythm-print(h1, 21pt, 2)

+adjust-rhythm(h2, 24px)
+adjust-rhythm-print(h2, 18pt)

+adjust-rhythm(h3, 21px)
+adjust-rhythm-print(h3, 16pt)

+adjust-rhythm(h4, 18px)
+adjust-rhythm-print(h4, 14pt)

+adjust-rhythm(".note, small", 14px)
+adjust-rhythm-print(".note, small", 10pt)

body
  max-width: 33em // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.2/
  margin-left: auto
  margin-right: auto
  font-family: Helvetica, Arial, sans-serif
  text-align: left // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.3/ 
  word-spacing: normal // http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.1/ 
  hyphens: auto // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.1/
  orphans: 2 // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/
  widows: 2 // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/
  font-variant-numeric: oldstyle-nums // http://webtypography.net/Harmony_and_Counterpoint/Numerals__Capitals_and_Small_Caps/3.2.1/
  *
    max-width: 100%

p+p
  text-indent: leading-units-to-em(1) // http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.2/

blockquote
  margin-left: leading-units-to-em(1.5)
  margin-right: leading-units-to-em(1.5)
  p
    text-indent: 0

code, samp, kbd, var
  font-family: Consolas, "Liberation Mono", Courier, monospace
  font-size: px-to-em(14px)
  font-weight: normal
  font-style: normal
  text-decoration: none
  line-height: px-to-em(14px)
  padding: 0 0.3em

mark
  background: #ff0
  color: #000

tr
  page-break-before: avoid
  page-break-after: avoid

td, th
  outline: 0.1em solid #000 //a little bit ugly... box-sizing ignored, with border breaks rhythm
  padding: 0 0.5em
  text-align: left

tfoot td
  font-style: italic

caption
  font-style: italic
  text-align: center
  font-style: italic

// Block-level code, use with a pre
.code
  overflow: auto
  scroll: auto
  padding: 0 1em

code, .code, samp, kbd, var
  background-color: #f8f8f8
  box-shadow: 0 0 0.1em 0.1em #ddd

.code
  code, samp, kbd, var
    box-shadow: none
    padding: 0
  
h1, h2, h3, h4, h5, h6
  font-family: Georgia, serif
  font-weight: bold
  page-break-after: avoid // http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.8/

.chapter
  page-break-after: auto
  page-break-before: always

em
  font-style: italic

strong
  font-weight: bold

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/ 
abbr, .caps, .nums 
  letter-spacing: 0.1em

ul li
  list-style-type: disc

ol li
  list-style-type: decimal

li
  list-style-position: inside
  text-indent: leading-units-to-em(1)

dt
  font-weight: bold
  float: left
  margin-right: leading-units-to-em(1)

s
  text-decoration: line-through

cite, q
  font-style: italic

q
  quotes: "“" "”" "‘" "’"

q:before
  content: open-quote

q:after
  content: close-quote

dfn
  font-weight: bold

sup, sub
  font-size: 70%
  line-height: 70%
  position: relative

sup
  top: -0.5em

sub
  top: 0.5em

i
  font-style: italic

b
  font-weight: bold

u
  text-decoration: underline

.note
  text-indent: 0

.caps
  font-variant-numeric: lining-nums // http://webtypography.net/Harmony_and_Counterpoint/Numerals__Capitals_and_Small_Caps/3.2.1/

// http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.4/
.verse
  font-family: inherit
  display: table
  width: auto
  margin-left: auto
  margin-right: auto

// http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.10/ 
.toc
  margin: 0 auto
  td, th
    outline: 0 none
  th 
    padding: 0 0.5em 0 0
    text-align: right
    font-weight: normal
  td:before 
    content: "\2022"
    padding-right: 0.5em
  td 
    padding: 0
    text-align: left
    font-style: italic

@media print
  body
    font-family: "Times New Roman", Times, serif

  p + p
    text-indent: leading-units-to-pt(1)

  blockquote
    margin-left: leading-units-to-pt(1.5)
    margin-right: leading-units-to-pt(1.5)
    p
      text-indent: 0

  pre
    white-space: pre-line

  dt
    margin-right: leading-units-to-pt(1)
  
  li
    text-indent: leading-units-to-pt(1)
