doctype html
html
   head
      meta charset="UTF-8"
      title Gutenweb, a typographical stylesheet
      link rel="stylesheet" href="gutenweb.css"
      css:
         body {
            background-size: auto 24px;
            background-color: #fff;
            background-image: linear-gradient(#fff 23px, #333 1px);
         }
   body
      h1 Gutenweb
      p Gutenweb is a typographical stylesheet. It is a CSS file ready to use for quick document generation in html (and epub).
      p Gutenweb aims to forgot styling when marking-up a document, as you do when you generate a document in LaTeX. It is suitable for not too complex documents
      p It adds some default styles which prioritize readability and they adapt to screen or print media. A lot of the concepts are taken from <a href="http://webtypography.net/">The Elements of Typographic Style Applied to the Web</a>.
      p This web page is using Gutenweb (plus, if your rendering engine supports it, background strips to show the vertical rhythm used), so you are right know seeing the look&amp;feel generated. Print to a PDF to look at the print version.
      h2 Setup
      p Get a copy in the <a href="https://github.com/laMarciana/gutenweb">official repository</a> or <a href="https://github.com/laMarciana/gutenweb/archive/master.zip">download the zip</a>.
      p Just copy <code>reset.css</code> and <code>gutenweb.css</code> to your css folder and add a link to the last one:
      pre.code
        code #{'<link rel="stylesheet" href="gutenweb.css">'}
      h2 Special formats
      h3 <code>.toc</code> for table of contents
      p To create a table of contents, mark-up a table with <code>.toc</code> as its <code>class</code>. Put the section titles inside <code>#{'<th>'}</code> and its page numbers inside <code>#{'<td>'}</code>:
      p Example:
      pre.code
        code  #{'<table class="toc">'}
              #{'  <tr>'}
              #{'    <th>Section 1</th><td>3</td>'}
              #{'  </tr>'}
              #{'  <tr>'}
              #{'    <th>Section 2</th><td>6</td>'}
              #{'  </tr>'}
              #{'</table>'}
      p Looks:
      table.toc
        tr
          <th>Section 1</th><td>3</td>
        tr
          <th>Section 2</th><td>6</td>
      h3 <code>.note</code> for notes
      p Example:
      pre.code
        code #{'<p class="note">I am small note</p>'}
      p Looks:
      p.note I am small note
      h3 <code>.caps</code> and <code>.nums</code> for uppercase and numeric strings
      p Uppercase and numeric string usually deserve a small increase in its letter-spacing.
      p Example:
      pre.code
        code #{'<p><span class="caps">UPPERCASE STRING</span></p>'}
             #{'<p><span class="num">936543476</span></p>'}
      p Looks:
      p: span.caps UPPERCASE STRING
      p: span.nums 936543476
      h3 <code>pre</code> with <code>.code</code> for block level code
      p For inline code, use simple <code>#{'<code>'}</code> tag. For block-level code, wrap it in a <code>#{'<pre>'}</code> tag with a <code>.code</code> class.
      p Example:
      pre.code
        code  #{'<pre class="code">'}
              #{'  <code>'}
              #{'    &lt;p&gt;Hello World!&lt;/p&gt;'}
              #{'  </code>'}
              #{'</pre>'}
      p Looks:
      pre.code
        code #{'<p>Hello World!</p>'}
      h3 <code>.verse</code> for verses
      p Example:
      pre.code
        code #{'<pre class="verse">Is not Gutenweb'}
             #{'such a nice'}
             #{'stylesheet?</pre>'}
      p Looks:
      pre.verse Is not gutenweb
                such a nice
                stylesheet?
      h2 Common mark-up examples
      h3 Paragraph
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu euismod enim, et semper sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae tempus odio. Duis ac convallis sapien. In diam leo, molestie a elementum et, sollicitudin vitae sem. Sed vestibulum sem non risus interdum suscipit. Maecenas nec quam risus. Donec non ante malesuada diam porta tristique quis a risus. Nullam eleifend porta dui, ac imperdiet dolor lacinia dictum. Vivamus accumsan sagittis erat at porttitor. Praesent ut tortor accumsan, mollis libero id, varius arcu. Aliquam ipsum massa, bibendum eu tortor viverra, auctor luctus lorem. Nunc scelerisque sapien eu lorem tristique pharetra. Vestibulum sit amet ornare libero. Sed ac enim vulputate, molestie ipsum ut, elementum justo. Praesent suscipit tempus pulvinar.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu euismod enim, et semper sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae tempus odio. Duis ac convallis sapien. In diam leo, molestie a elementum et, sollicitudin vitae sem.
      h3 Unordered list
      ul
        li Item 1
        li Item 2
        li Item 3
      h3 Ordered list
      ol
        li Item 1
        li Item 2
        li Item 3
      h3 Definition list
      dl
        dt Item 1
        dd This is item 1
        dt Item 2
        dd This is item 2
        dt Item 3
        dd This is item 3
      h3 Blockquote
      blockquote
        p - Are you a blockquote?
        p - Yes, I am
      h3 Abbreviation
      p: abbr CIA
      h3 Emphasis and strong
      p <em>Emphasis</em> and <strong>strong</strong>.
      h3 Headings
      p Look at the headings of this document.
      h2 Internals
      p The styleshhet is written in <a href="http://sass-lang.com/">Sass</a> and compiled to CSS. The main file is <code>gutenweb.sass</code>, which use the helper file <code>_helper.sass</code>, where there are some usefull functions and mixins.
      p <a href="http://meyerweb.com/eric/tools/css/reset/">Eric Meyer reset stylesheet</a> is used to avoid problems with default rendering engines styles.
      p This page is written with <a href="http://slim-lang.com/">slim template language</a> (the <code>index.html.slim</code> file) and compiled to html (the <code>index.html</code> file).
      h2 Release Policy and version notes
      p Gutenweb uses <a href="http://semver.org/">semantic versioning system</a>. Now it is still in initial development.
      p It is sure that there are some common mark-up pattern that it is not covered. Please, <a href="https://github.com/laMarciana/gutenweb/issues">open an issue</a> for any error or improvement you can suggest. it will be added it as soon as possible.
      h2 Copyright
      p.author Copyright 2013, Marc Busqué Pérez, under GNU LESSER GENERAL PUBLIC LICENSE
      p Contact me at <a href="mailto:marc@lamarciana.com">marc@lamarciana.com</a>.
